{% extends "site_inf/base.html" %}
{% load static %}
{% block content %}
<section class="extensao extensao-projetos">
  <div class="container">
    <h2>Projetos de Extensão</h2>
    
    <div class="projeto-item">
      <h3 class="projeto-title">Título do Projeto 1</h3>
      <p><strong>Coordenador(a):</strong> __________</p>
      <p><strong>Contato:</strong> __________</p>
      <p><strong>Comunidade Foco:</strong> __________</p>
      <p><strong>Local de Atuação:</strong> __________</p>
      <p><strong>Informações sobre o Projeto:</strong></p>
      <p>__________________________________________</p>
    </div>

    <div class="projeto-item">
      <h3 class="projeto-title">Título do Projeto 2</h3>
      <p><strong>Coordenador(a):</strong> __________</p>
      <p><strong>Contato:</strong> __________</p>
      <p><strong>Comunidade Foco:</strong> __________</p>
      <p><strong>Local de Atuação:</strong> __________</p>
      <p><strong>Informações sobre o Projeto:</strong></p>
      <p>__________________________________________</p>
    </div>

    <div class="projeto-item">
      <h3 class="projeto-title">Título do Projeto 3</h3>
      <p><strong>Coordenador(a):</strong> __________</p>
      <p><strong>Contato:</strong> __________</p>
      <p><strong>Comunidade Foco:</strong> __________</p>
      <p><strong>Local de Atuação:</strong> __________</p>
      <p><strong>Informações sobre o Projeto:</strong></p>
      <p>aawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEFaawdawdawdsdfgserdasfsfASDFAWEFAWEF</p>
    </div>
    
  </div>
</section>

</p><a href="{% url 'site_inf:extensao' %}" class="btn-extensao">Voltar para Extensão</a>

{% endblock %}


