{% extends "site_inf/base.html" %}
{% load static %}

{% block title %}Publicações{% endblock %}

{% block content %}
<section class="publicacoes-page">
  <div class="container">
    <div class="page-main-title"><h2>Publicações</h2></div>
    <input type="text" id="searchInputPublicacao" placeholder="Pesquisar por publicação...">

    {% if not publicacoes %}
      <p class="text-center">Nenhuma publicação encontrada no momento.</p>
    {% else %}
      {% for ano in anos_unicos %}
        <div class="year-group">
          <h3 class="year-heading">{{ ano }}</h3>
          {% for publicacao in publicacoes %}
            {% if publicacao.ano == ano %}
            <article class="publication-entry">
              <p class="publication-authors">{{ publicacao.autores }}</p>
              <h4 class="publication-title">{{ publicacao.titulo }}</h4>
              <p class="publication-venue">{{ publicacao.evento_ou_revista }}.</p>
              <nav class="publication-links">
                {% if publicacao.link_bibtex %}
                  <a href="{{ publicacao.link_bibtex }}" target="_blank" class="pub-link">[BibTeX]</a>
                {% endif %}
                {% if publicacao.link_pdf %}
                  <a href="{{ publicacao.link_pdf }}" target="_blank" class="pub-link">[PDF]</a>
                {% endif %}
                {% if publicacao.link_doi %}
                  <a href="{{ publicacao.link_doi }}" target="_blank" class="pub-link">[DOI]</a>
                {% endif %}
                {% if publicacao.link_outro %}
                  <a href="{{ publicacao.link_outro }}" target="_blank" class="pub-link">[Mais Informações]</a> 
                  {# Ou [App], [Código], etc., dependendo do que for o link_outro #}
                {% endif %}
              </nav>
            </article>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

<script>
  const searchInput = document.getElementById("searchInputPublicacao");
  const publicacaoQ = document.querySelectorAll(".publication-entry"); 

  searchInput.addEventListener("input", function () {
    const searchTerm = this.value.toLowerCase();
    publicacaoQ.forEach(card => {
      const textContent = card.innerText || card.textContent; 
      const text = textContent.toLowerCase();
      card.style.display = text.includes(searchTerm) ? "" : "none";
    });
  });
</script>

{% endblock %}