{% extends "site_inf/base.html" %}
{% load static %}

{% block title %}TCCs - Computação{% endblock %}

{% block content %}
<section class="tccs">
  <div class="container">
    <div class="page-main-title"><h2>Trabalhos de Conclusão de Curso</h2></div>
    <div class="tcc-header-content">
      <input type="text" id="searchInput" placeholder="Pesquisar por título, autor, palavras-chave...">
    </div>

    <div class="tcc-container" id="tccList">
      {% for tcc in tccs %}
        <div class="tcc-card">
          <h3 class="tcc-title">{{ tcc.titulo }}</h3>
          <p class="tcc-description">{{ tcc.descricao }}</p>
          <p>
              <strong>Autor:</strong> {{ tcc.autor }}<br>
              <strong>Ano:</strong> {{ tcc.ano }}<br>
              <strong>Palavras-chave:</strong> {{ tcc.palavras_chave }}
          </p>
          
          {% if tcc.link %}
            <a href="{{ tcc.link }}" target="_blank" class="tcc-button">Acessar Link Externo</a>
          {% endif %}

          {% if tcc.arquivo_tcc %}
            {# Este link tenta abrir em nova aba, o navegador decide se mostra ou baixa #}
            <a href="{{ tcc.arquivo_tcc.url }}" target="_blank" class="tcc-button download-button">
              Baixar/Exibir Arquivo do TCC
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  const searchInput = document.getElementById("searchInput");
  const tccCards = document.querySelectorAll(".tcc-card"); 

  searchInput.addEventListener("input", function () {
    const searchTerm = this.value.toLowerCase();
    tccCards.forEach(card => {
      const textContent = card.innerText || card.textContent; 
      const text = textContent.toLowerCase();
      card.style.display = text.includes(searchTerm) ? "flex" : "none";
    });
  });
</script>
{% endblock %}