{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Portal Avançado - SI &amp; CC{% endblock %}</title>
<link rel="shortcut icon" href="{% static 'site_inf/images/fav_icon_ufsm.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'site_inf/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
