<header>
    <div class="header-container">
      <div class="logo">
        <h1>Portal SI &amp; CC</h1>
      </div>
      <nav>
        <ul class="nav-menu">
          <li><a href="{% url 'site_inf:index' %}">Home</a></li>
          <li><a href="#cursos">Cursos</a></li>
          <li><a href="#eventos">Eventos</a></li>
          <li><a href="#depoimentos">Depoimentos</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="{% url 'site_inf:extensao' %}">Extensão</a></li>
          <li><a href="{% url 'site_inf:listar_exalunos' %}">Ex-Alunos</a></li>
          <li><a href="{% url 'site_inf:listar_professores' %}">Professores</a></li>
          <li><a href="#projetos">Projetos</a></li>
          <li><a href="#redes">Redes Sociais</a></li>
          <li><a href="#forum">Fórum</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  