{% load static %}
<header>
  <div class="header-container">
    <div class="logo">
      <a href="{% url 'site_inf:index' %}">
        <img src="{% static 'editadao.jpg' %}" alt="Logo do Portal de Computação UFSM" id="logo-principal">
      </a>
    </div>
    <nav>
      <ul class="nav-menu">
        <li><a href="{% url 'site_inf:index' %}">Home</a></li>
        <li><a href="#cursos">Cursos</a></li>
        <li><a href="#eventos">Eventos</a></li>
        <li><a href="#depoimentos">Depoimentos</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>